@{
    Layout = null;
}

<!DOCTYPE html>

<header>

    <h1>Mega Desk Web Application</h1><br>

    <nav>
        <div>
            <ul class="nav nav-pills nav-stacked nav-justified">
                <li class="option"><a href="MegaDeskMain">Home</a></li>
                <li class="option"><a href="~/AddQuote">Add Quote</a></li>
            </ul><br>
        </div>
    </nav>
</header>